<hr class="small">
<section id="additional-resources" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Additional Resources</h2>
        </div>
        <div class="content">
          <h3><b>AMP-UP</b></h3>
          <ul class="list-unstyled">
            <li><p class="lead"><a href="https://amp-up.space/mentorship.html" target="_blank">AMP-UP (Astronomy Mentorship Program for Upcoming Postdocs)</a> is a mentorship program in which current and previous prize postdoctoral fellows provide 
              professional and academic advice and support to PhD students performing astronomy-related research.</p></li>
            <li><p class="lead">AMP-UP is currently accepting <a href="https://docs.google.com/forms/d/e/1FAIpQLSedNNa0I6k5xSiFSdJgAqNiuEtCB9KAH0lROPECM9emZQaiVg/viewform" target="_blank">Mentee applications</a> for the 2025/2026 application cycle. The deadline is June 15th, 2025.</p></li>
          </ul>
          
        </div>

      </div>
    </div>
  </div>
</section>
