<header id="top" class="header">
  <div class="text-vertical-center">
    <br>
    <img style="width: auto; height: 18%;" src="img/banner_textonly_v2.png" alt="GAAP" />
    <h1 style="color:white;">A Guide to Applying for Astronomy Postdocs</h1>
    <h2 style="color:white;">A series of online workshops<br>June-July, 2025</h2>
    <br>
    <a href="https://forms.gle/pkCEM7bXp1yw1VBj6" target="_blank" class="btn btn-dark btn-lg">Expression of Interest Form</a>
    <!-- <a href="#about" class="btn btn-dark btn-lg">Registration Form (Coming soon)</a> -->
  </div>
</header>
