<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Important Dates</h2>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration will open soon.</p> -->
          <ul class="list-unstyled">
            <li><p class="lead"><b>February 28, 2025:</b> The <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=C92AT4wzTE6KFJBEaWL3uKNsN8nKHutOjz6m4MA21fpUMkFYVEFEUFM0V1kwN0lFTk5GQzVDUTdEUy4u" target="_blank">Expression of Interest Form</a> opened, and we were amazed by the number of responses; thank you to everyone who filled this out!</p></li>
            <li><p class="lead"><b>May 5, 2025:</b> Registration is open! Complete the <a href="https://forms.gle/ssw5yUEdknaLdCBq7" target="_blank">Registration Form</a> to receive connection details for the sessions. This form has no closing date and will remain open until the last session on July 31st. You do not have to be at a Canadian university to register; participation is welcomed from one and all! The list of invited guest speakers and panelists at each of the sessions is now available below as well.</p></li>
            <li><p class="lead"><b>June 19, 2025 (1:00-3:00pm ET):</b> Join us for Session 1 of GAAP!</p></li>
            <li><p class="lead"><b>July 3, 2025 (1:00-3:00pm ET):</b> Join us for Session 2 of GAAP!</p></li>
            <li><p class="lead"><b>July 17, 2025 (1:00-3:00pm ET):</b> Join us for Session 3 of GAAP!</p></li>
            <li><p class="lead"><b>July 31, 2025 (1:00-3:00pm ET):</b> Join us for Session 4 of GAAP!</p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
