<hr class="small">
<section id="important-dates" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Important Dates</h2>
        </div>
        <div class="content">
          <!-- <p class="lead">Registration will open soon.</p> -->
          <ul class="list-unstyled">
            <li><p class="lead"><b>February 28, 2025:</b> The <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=C92AT4wzTE6KFJBEaWL3uKNsN8nKHutOjz6m4MA21fpUMkFYVEFEUFM0V1kwN0lFTk5GQzVDUTdEUy4u" target="_blank">Expression of Interest form</a> opens! If you are interested in attending any of the sessions, or have questions you'd like us to cover during the workshops, please complete the form!</p></li>
            <li><p class="lead"><b>April, 2025:</b> Registration opens and the series program details will be announced.</p></li>
            <li><p class="lead"><b>June 19, 2025 (1:00-3:00pm ET):</b> Join us for Session 1 of GAAP!</p></li>
            <li><p class="lead"><b>July 3, 2025 (1:00-3:00pm ET):</b> Join us for Session 2 of GAAP!</p></li>
            <li><p class="lead"><b>July 17, 2025 (1:00-3:00pm ET):</b> Join us for Session 3 of GAAP!</p></li>
            <li><p class="lead"><b>July 31, 2025 (1:00-3:00pm ET):</b> Join us for Session 4 of GAAP!</p></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>
