<hr class="small">
<section id="loc" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <h2>Organizers</h2>
        </div>
        <div class="content">
          <ul class="list-unstyled">
            <li><p class="lead">Adrien Hélias, CASCA Graduate Student Committee (Western University)</p></li>
            <li><p class="lead">Jess Speedie, CASCA Graduate Student Committee (University of Victoria)</p></li>
            <li><p class="lead">Veronika Dornan, CASCA Graduate Student Committee (McMaster University)</p></li>
            <li><p class="lead">Isabel Sander, CASCA Graduate Student Committee (University of Manitoba)</p></li>
            <li><p class="lead">Emily Deibert, CASCA Postdoctoral Committee (Gemini Observatory/NSF's NOIRLab)</p></li>
            <li><p class="lead">Matías Bravo, CASCA Postdoctoral Committee (McMaster University)</p></li>
          </ul>
          <br>
          <p class="lead"><b>To contact the organizers write to: <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a></b></p>

        </div>

      </div>
    </div>
  </div>
</section>
