<hr class="small">
<section id="session1" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <img width="150px" src="img/session1.jpg" alt="Session 1" />
        </div>
        <div class="content">
          <h3><b>Session 1.</b> The Fundamentals of Applying to Postdoctoral Positions</h3>
          <p class="lead"><i>Thursday, June 19, 1:00-3:00pm ET</i></p>
          <ul>
            <!-- <li><p class="lead">Basic knowledge (how many PDs you wanna apply for, what the process of getting offers is like, what's the difference between fellowships and positions, how to keep a spreadsheet to be organized...)</p></li> -->
            <li><p class="lead">Essential tips & tricks; where opportunities are advertised; types of opportunities available; typical components of an application; timeline of the application and selection processes</p></li>
            <li><p class="lead">Setting priorities and expectations; statistics to be aware of; the importance of organization tools and communication</p></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
