<!-- <hr class="small"> -->
<section id="session4" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <img width="150px" src="img/session4.jpg" alt="Session 4" />
        </div>
        <div class="content">
          <h3><b>Session 4.</b> The Many Possible Paths // Maintaining Mental Wellbeing During Application Season</h3>
          <p class="lead"><i>Date & time to be announced (2-hour online workshop during week of July 28th, 2025)</i></p>
          <ul>
            <li><p class="lead">Differences amongst postdoctoral systems and hiring structures across the globe</p></li>
            <li><p class="lead">How everyone's path is different; representation of the diversity of considerations to making decisions</p></li>
            <li><p class="lead"><i><b>Featuring guest speakers:</b></i> Testimonies and advice from previous or current postdocs with diverse experiences from around the world</p></li>
            <!-- <li><p class="lead">Representation of two-body problem, representation of success in solving two-body problem, with balance of realism</p></li> -->
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
