<!-- <hr class="small"> -->
<section id="session3" class="about">
  <div class="container">

    <!-- When & Where -->
    <div class="section">
      <div class="row">
        <div class="title">
          <img width="150px" src="img/session3.jpg" alt="Session 3" />
        </div>
        <div class="content">
          <h3><b>Session 3.</b> Interview Preparation // Two Sides of the Hiring Process</h3>
          <p class="lead"><i>Thursday, July 17, 1:00-3:00pm ET</i></p>
          <ul>
            <li><p class="lead">What an interview accomplishes, from the perspective of both sides: the selection committee and the applicant</p></li>
            <li><p class="lead">How to prepare for an interview; typical formats; what to put in your presentation; questions you may be asked; questions you may ask</p></li>
            <!-- mental preparation, science preparation,  -->
            <li><p class="lead"><i><b>Featuring guest speakers:</b></i> Testimonies and insights shared from folks who have served on selection committees (representation from NSERC, USA, overseas)</p></li>
            <!-- <li><p class="lead">Representation from NSERC/PDF, representation from Europe, representation from overseas, representation from hiring committees, representation from faculty</p></li> -->
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
